.welcome-message {
  background-color: lightgray;
  padding: 25px;
  border-radius: 50px;
}

.card-container {
  max-height: 350px; /* Adjust the maximum height as needed */
  overflow-y: auto;
}

/* Style the individual cards as needed */
.card {
  width: 75%; /* Adjust the width as per your design, leaving a little space for margins */
  margin: 2%; /* Add margin between cards */
  border-color: blueviolet;
  border: radius 50px;
}

.material-icons {
  cursor: pointer;
}
